body {
    padding: 0%;
    margin: 5px;
  }
  nav {
    width: 100%;
    height: 10vh;
    background-image: url('images/bg1.jpg');
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  nav .logo {
    width: 25%;
    text-align: center;
  }
  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
  }
  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
  }
  nav .menu a:hover {
    color: yellowgreen;
  }
  body {
    background-color: black;
  }
  #head {
    color: yellowgreen;
    margin-left: 45vw;
  }
  .box {
    width: 800px;
    height: 10% auto;
    position: relative;
    color: white;
    background-color: cadetblue;
  }
  .wrapper {
    margin-top: 0%;
  }
  
  .wrapper h1 {
    font-family: 'Allura', cursive;
    font-size: 52px;
  
    text-align: center;
  }
  
  .team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member {
    background: #fff;
    margin: 5px;
  
    width: 85%;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
  }
  
  .team .team_member h3 {
    color: #81c644;
    font-size: 26px;
    margin-top: 10px;
  }
  
  .team .team_member p.role {
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
    float: right;
  }
  
  .team .team_member .team_img {
    float: left;
    width: 250px;
    height: 200px;
  
  }
  .team .team_member .team_details {
    display:inline-block;
  }
  
  .team .team_member .team_img img {
    width: 250px;
    height: 200px;
  }
  